<!-- eslint-disable @angular-eslint/template/no-call-expression -- Signal call is required for computed signals -->
<dms-base-table [data]="displayedPositions()" [columns]="columns">
  <ng-template #filterRowTemplate let-column>
    @if (column.field === 'symbol') {
    <mat-form-field
      appearance="outline"
      class="w-full max-w-[120px]"
      subscriptSizing="dynamic"
    >
      <input
        matInput
        type="text"
        [(ngModel)]="searchText"
        placeholder="Search Symbol"
        class="text-sm"
      />
    </mat-form-field>
    }
  </ng-template>
</dms-base-table>
