<!-- eslint-disable @angular-eslint/template/no-call-expression -- Signal call is required for computed signals -->
<dms-base-table [data]="displayedPositions()" [columns]="columns">
  <ng-template #filterRowTemplate let-column>
    @if (column.field === 'symbol') {
    <mat-form-field
      appearance="outline"
      class="w-full max-w-[120px]"
      subscriptSizing="dynamic"
    >
      <input
        matInput
        type="text"
        [(ngModel)]="searchText"
        placeholder="Search Symbol"
        class="text-sm"
      />
    </mat-form-field>
    } @else if (column.field === 'buy_date') {
    <mat-form-field appearance="outline" subscriptSizing="dynamic">
      <mat-label>Start Date</mat-label>
      <input
        matInput
        [matDatepicker]="startPicker"
        [value]="startDateAsDate()"
        (dateChange)="onStartDateChange($event)"
        aria-label="Start Date"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="startPicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>
    } @else if (column.field === 'sell_date') {
    <mat-form-field appearance="outline" subscriptSizing="dynamic">
      <mat-label>End Date</mat-label>
      <input
        matInput
        [matDatepicker]="endPicker"
        [value]="endDateAsDate()"
        (dateChange)="onEndDateChange($event)"
        aria-label="End Date"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="endPicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>
    } @else if (column.field === 'daysHeld') {
    <button mat-raised-button (click)="clearFilters()">Clear Filters</button>
    }
  </ng-template>
</dms-base-table>
