.display-value {
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 4px;
}

.display-value:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.edit-field {
  width: 100%;
  margin-top: -8px;
  margin-bottom: -8px;
}

.edit-field ::ng-deep .mat-mdc-form-field-infix {
  padding: 4px 0;
  min-height: 32px;
}

.edit-field ::ng-deep .mat-mdc-text-field-wrapper {
  padding-bottom: 0;
}

.edit-field ::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}
