@if (editing) {
<mat-form-field appearance="outline" class="edit-field">
  <input
    matInput
    [matDatepicker]="picker"
    [(ngModel)]="editValue"
    (dateChange)="onDateSelected($event)"
    (blur)="onBlur()"
    (keydown.escape)="cancelEdit()"
    (keydown.enter)="saveEdit()"
    placeholder="MM/DD/YYYY"
    aria-label="Edit date"
  />
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker (closed)="onPickerClosed()"></mat-datepicker>
</mat-form-field>
} @else {
<span
  class="display-value"
  role="button"
  tabindex="0"
  (click)="startEdit()"
  (keydown.enter)="startEdit()"
  (keydown.space)="startEdit()"
>
  {{ value ? (value | date : dateFormat) : '' }}
</span>
}
