<mat-form-field appearance="outline" class="full-width">
  <mat-label>{{ labelValue }}</mat-label>
  <input
    matInput
    data-testid="symbol-input"
    [formControl]="searchControl"
    [matAutocomplete]="auto"
    [placeholder]="placeholderValue"
    (blur)="onBlur()"
    aria-label="Symbol search"
  />
  @if (isLoadingValue) {
  <mat-spinner matSuffix diameter="20"></mat-spinner>
  }
  <mat-autocomplete
    #auto="matAutocomplete"
    [displayWith]="displayFnRef"
    (optionSelected)="onOptionSelected($event.option.value)"
  >
    <!-- eslint-disable-next-line @angular-eslint/template/no-call-expression -- trackBy function is standard Angular pattern -->
    @for (option of filteredOptionsValue; track trackBySymbol($index, option)) {
    <mat-option [value]="option">
      <strong>{{ option.symbol }}</strong> - {{ option.name }}
    </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
