<p-dialog header="Universe Settings" [(visible)]="settingsService.visible$" [modal]="true" [style]="{ width: '25vw' }" (onShow)="onDialogShow()">
  <h4 class="mt-0">Current Universe</h4>
  <div class="universe-fields-row">
    <div class="universe-field">
      <label for="equitySymbols">Equity</label>
      <textarea #equitySymbolsTextarea id="equitySymbols" pInputTextarea [rows]="5" [(ngModel)]="equitySymbols" class="universe-textarea"></textarea>
    </div>
    <div class="universe-field">
      <label for="incomeSymbols">Income</label>
      <textarea id="incomeSymbols" pInputTextarea [rows]="5" [(ngModel)]="incomeSymbols" class="universe-textarea"></textarea>
    </div>
    <div class="universe-field">
      <label for="taxFreeIncomeSymbols">Tax Free Income</label>
      <textarea id="taxFreeIncomeSymbols" pInputTextarea [rows]="5" [(ngModel)]="taxFreeIncomeSymbols" class="universe-textarea"></textarea>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button (click)="settingsService.hide()" label="Cancel" severity="secondary"></p-button>
    <p-button label="Update Fields" (click)="updateFields()"></p-button>
    <p-button (click)="updateUniverse()" label="Update Universe" [disabled]="!equitySymbols && !incomeSymbols && !taxFreeIncomeSymbols" class="update-universe-btn"></p-button>
  </ng-template>
  @if (loading) {
    <div class="modal-spinner-overlay">
      <p-progressSpinner styleClass="modal-spinner" strokeWidth="4" animationDuration=".7s"/>
    </div>
  }
</p-dialog>
