<p-table
  [value]="positions()"
  class="min-w-full max-h-full min-h-full rounded-lg shadow-sm table-fixed"
  [responsiveLayout]="'scroll'"
  size="small"
  [scrollable]="true"
  [scrollHeight]="'calc(100vh - 120px)'"
  showGridlines
>
  <ng-template pTemplate="header">
    <tr class="bg-gray-100">
      <th>Symbol</th>
      <th>Buy</th>
      <th>Buy Date</th>
      <th>Quantity</th>
      <th>Sell</th>
      <th>Sell Date</th>
      <th>Days Held</th>
      <th>Cap Gains$</th>
      <th>Cap Gains%</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-row>
    <tr>
      <td>{{ row.symbol }}</td>
      <td class="w-100 overflow-hidden" [pEditableColumn]="'buy'">
        <p-cellEditor>
          <ng-template #input>
            <p-inputNumber
              [style]="{'width': '100px'}"
              [(ngModel)]="row.buy"
              (keydown.enter)="onEditCommit(row, 'buy')"
              (keydown)="stopArrowKeyPropagation($event)"
              (onBlur)="onEditCommit(row, 'buy')"
              class="w-100 block"
              [min]="0"
              [mode]="'decimal'"
              [minFractionDigits]="2"
              [maxFractionDigits]="4"
            ></p-inputNumber>
          </ng-template>
          <ng-template #output>
            {{ row.buy | currency:'USD':'symbol':'1.2-4' }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td class="w-32 overflow-hidden" [pEditableColumn]="'buyDate'">
        <p-cellEditor>
          <ng-template #input>
            <p-datepicker
              [(ngModel)]="row.buyDate"
              (onSelect)="onEditCommit(row, 'buyDate')"
              (keydown.enter)="onEditCommit(row, 'buyDate')"
              (keydown)="stopArrowKeyPropagation($event)"
              appendTo="body"
              class="w-32 block"
              dateFormat="mm/dd/yy"
            ></p-datepicker>
          </ng-template>
          <ng-template #output>
            {{ row.buyDate | date:'MM/dd/yyyy' }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td class="w-32 overflow-hidden" [pEditableColumn]="'quantity'">
        <p-cellEditor>
          <ng-template #input>
            <p-inputNumber
              [(ngModel)]="row.quantity"
              (keydown.enter)="onEditCommit(row, 'quantity')"
              (keydown)="stopArrowKeyPropagation($event)"
              (onBlur)="onEditCommit(row, 'quantity')"
              class="w-32 block"
              [min]="0"
              [step]="1"
            ></p-inputNumber>
          </ng-template>
          <ng-template #output>
            {{ row.quantity }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td class="w-32 overflow-hidden" [pEditableColumn]="'sell'">
        <p-cellEditor>
          <ng-template #input>
            <p-inputNumber
              [(ngModel)]="row.sell"
              (keydown.enter)="onEditCommit(row, 'sell')"
              (keydown)="stopArrowKeyPropagation($event)"
              (onBlur)="onEditCommit(row, 'sell')"
              class="w-32 block"
              [min]="0"
              [mode]="'decimal'"
              [minFractionDigits]="2"
              [maxFractionDigits]="4"
            ></p-inputNumber>
          </ng-template>
          <ng-template #output>
            {{ row.sell }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td class="w-32 overflow-hidden" [pEditableColumn]="'sellDate'">
        <p-cellEditor>
          <ng-template #input>
            <p-datepicker
              [(ngModel)]="row.sellDate"
              (onSelect)="onEditCommit(row, 'sellDate')"
              (keydown.enter)="onEditCommit(row, 'sellDate')"
              (keydown)="stopArrowKeyPropagation($event)"
              appendTo="body"
              class="w-32 block"
              dateFormat="mm/dd/yy"
            ></p-datepicker>
          </ng-template>
          <ng-template #output>
            {{ row.sellDate | date:'MM/dd/yyyy' }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>{{ row.daysHeld }}</td>
      <td>{{ row.capitalGain | currency:'USD':'symbol':'1.2-4' }}</td>
      <td>{{ row.capitalGainPercentage | number:'1.2-2' }}%</td>
      <td>
        <p-button icon="pi pi-trash" severity="danger" (onClick)="trash(row)" />
      </td>
    </tr>
  </ng-template>
</p-table>
