:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.shell-toolbar {
  position: relative;
  z-index: 100;
}

.app-title {
  font-size: 20px;
  font-weight: 500;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

rms-splitter {
  flex: 1;
  overflow: hidden;
}

.accounts-panel,
.content-panel {
  height: 100%;
  overflow: auto;
}
