mat-card {
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.full-width {
  width: 100%;
}

button[type='submit'] {
  margin-top: 1rem;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

mat-spinner {
  margin: 0 auto;
}
