<div class="flex-none flex border-b border-surface-200 dark:border-surface-700 mb-4 items-center">
  <a
    [routerLink]="['.']"
    routerLinkActive="text-primary border-primary"
    [routerLinkActiveOptions]="{ exact: true }"
    class="px-4 py-2 -mb-px border-b-2 font-semibold cursor-pointer"
  >
    Open Positions
  </a>
  <a
    [routerLink]="['sold']"
    routerLinkActive="text-primary border-primary"
    [routerLinkActiveOptions]="{ exact: true }"
    class="px-4 py-2 -mb-px border-b-2 font-semibold cursor-pointer"
  >
    Sold
  </a>
  <a
    [routerLink]="['div-dep']"
    routerLinkActive="text-primary border-primary"
    [routerLinkActiveOptions]="{ exact: true }"
    class="px-4 py-2 -mb-px border-b-2 font-semibold cursor-pointer"
  >
    Dividends & Deposits
  </a>
  <span class="flex-1"></span>
  @if (router.url.endsWith('/account/' + accountId)) {
    <p-button
      pTooltip="Add New Position"
      aria-label="Add Open Position"
      styleClass="mr-2"
      severity="secondary"
      icon="pi pi-plus"
      (onClick)="openNewPositionDialog()"
    ></p-button>
  }
  @if (router.url.endsWith('/account/' + accountId + '/div-dep')) {
    <p-button
      pTooltip="Add New Dividend or Deposit"
      aria-label="Add Dividend or Deposit"
      styleClass="mr-2"
      severity="secondary"
      icon="pi pi-plus"
      (onClick)="openNewDivDepDialog()"
    ></p-button>
  }
</div>
<p-dialog
  header="New Position"
  [(visible)]="showNewPositionDialog"
  [modal]="true"
  [closable]="true"
  [dismissableMask]="true"
  styleClass="w-full max-w-lg"
>
  <app-new-position (close)="closeNewPositionDialog()" />
</p-dialog>
<p-dialog
  header="New Dividend or Deposit"
  [(visible)]="showNewDivDepDialog"
  [modal]="true"
  [closable]="true"
  [dismissableMask]="true"
  styleClass="w-full max-w-lg"
>
  <app-div-dep-modal (close)="closeNewDivDepDialog()" />
</p-dialog>

<div class="flex-1 overflow-auto min-h-0">
  <router-outlet></router-outlet>
</div>
