<dms-base-table
  [data]="dividends$()"
  [columns]="columns"
  [rowHeight]="48"
  [bufferSize]="20"
  (rowClick)="onEditDividend($event)"
>
  <ng-template #cellTemplate let-row let-column="column">
    @switch (column.type) { @case ('currency') {
    {{ row[column.field] | currency }}
    } @case ('date') {
    {{ row[column.field] | date : 'MM/dd/yyyy' }}
    } @case ('actions') {
    <button
      mat-icon-button
      aria-label="Delete dividend"
      data-testid="delete-dividend-button"
      (click)="$event.stopPropagation(); onDeleteDividend(row)"
    >
      <mat-icon>delete</mat-icon>
    </button>
    } @default {
    {{ row[column.field] }}
    } }
  </ng-template>
</dms-base-table>
