<p-toolbar class="text-lg font-semibold">
  <ng-template #start>
    <div class="whitespace-nowrap truncate">Universe</div>
  </ng-template>
</p-toolbar>
<p-table [value]="universe$()" size="small" showGridlines>
  <ng-template pTemplate="header">
    <tr>
      <th>Symbol</th>
      <th>Risk Group</th>
      <th>Distribution</th>
      <th>Distributions per Year</th>
      <th>Yield %</th>
      <th>Last Price</th>
      <th>Most Recent Sell Date</th>
      <th>Ex-Date</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-row>
    <tr>
      <td>{{ row.symbol }}</td>
      <td>{{ row.riskGroup }}</td>
      <td>{{ row.distribution }}</td>
      <td>{{ row.distributions_per_year }}</td>
      <td>{{ row.yield_percent | number:'1.2-2' }}%</td>
      <td>{{ row.last_price }}</td>
      <td>{{ row.most_recent_sell_date }}</td>
      @if (row.ex_date && row.ex_date >= today) {
        <td>{{ row.ex_date | date:'MM/dd/yyyy' }}</td>
      } @else {
        <td [pEditableColumn]="row.ex_date" class="bg-red-500">
          <p-cellEditor>
            <ng-template #input>
              <p-datepicker [(ngModel)]="row.ex_date"></p-datepicker>
            </ng-template>
            <ng-template #output>
              {{ row.ex_date | date:'MM/dd/yyyy' }}
            </ng-template>
          </p-cellEditor>
        </td>
      }
    </tr>
  </ng-template>
</p-table>
