:host {
  .p-dialog {
    .p-dialog-content {
      padding: 1.5rem;
    }

    .p-dialog-footer {
      padding: 1rem 1.5rem;
      border-top: 1px solid var(--surface-border);
    }
  }

  .p-inputtext {
    text-transform: uppercase;
  }

  .p-message {
    margin-top: 0;
  }
}
