:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.toolbar {
  flex: 0 0 auto;
}

p-listbox {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

::ng-deep {
  .p-listbox {
    flex: 1 1 auto;
  }
}
