<!-- eslint-disable @angular-eslint/template/no-call-expression -->
<!-- eslint-disable @angular-eslint/template/cyclomatic-complexity -->
<div class="table-container">
  @if (loading()) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }

  <cdk-virtual-scroll-viewport
    #viewport
    class="dms-table-body"
    [itemSize]="rowHeight()"
    [minBufferPx]="rowHeight() * bufferSize()"
    [maxBufferPx]="rowHeight() * bufferSize() * 2"
  >
    <mat-table
      [dataSource]="dataSource()"
      [trackBy]="trackByFn"
      [attr.aria-label]="tableLabel()"
    >
      <!-- Selection Column -->
      @if (selectable()) {
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="dms-select-cell">
            @if (multiSelect()) {
              <mat-checkbox
                [checked]="isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
                (change)="toggleAllRows()"
              ></mat-checkbox>
            }
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="dms-select-cell">
            <mat-checkbox
              [checked]="selection.isSelected(row)"
              (click)="$event.stopPropagation()"
              (change)="toggleSelection(row)"
            ></mat-checkbox>
          </mat-cell>
        </ng-container>
      }

      <!-- Selection Filter Column (empty placeholder for filter row alignment) -->
      @if (selectable() && filterRowTemplate) {
        <ng-container matColumnDef="selectFilter">
          <mat-header-cell *matHeaderCellDef class="dms-select-cell"></mat-header-cell>
        </ng-container>
      }

      <!-- Dynamic Columns -->
      @for (column of columns(); track column.field) {
        <ng-container [matColumnDef]="column.field">
          <mat-header-cell
            *matHeaderCellDef
            class="dms-header-cell"
            [class.dms-header-cell--sortable]="column.sortable"
            [attr.data-column]="column.field"
            [attr.tabindex]="column.sortable ? 0 : null"
            [style.width.px]="column.width ?? DEFAULT_COLUMN_WIDTH"
            [attr.aria-sort]="getAriaSort(column)"
            [matTooltip]="column.tooltip ?? null"
            (click)="onHeaderClick(column)"
            (keydown.enter)="onHeaderClick(column)"
            (keydown.space)="onHeaderClick(column); $event.preventDefault()"
          >
            {{ column.header }}
            @if (sortRankMap()[column.field]) {
              <span
                class="sort-rank-indicator"
                data-testid="sort-rank"
                aria-hidden="true"
                >{{ sortRankMap()[column.field] }}</span
              >
            }
          </mat-header-cell>
          <mat-cell
            *matCellDef="let row; let i = index"
            class="dms-body-cell"
            [style.width.px]="column.width ?? DEFAULT_COLUMN_WIDTH"
            [attr.data-column]="column.field"
          >
            <ng-container
              [ngTemplateOutlet]="cellTemplate || defaultCell"
              [ngTemplateOutletContext]="{
                $implicit: row,
                column: column,
                index: i,
              }"
            ></ng-container>
          </mat-cell>
        </ng-container>
      }

      <!-- Filter Columns -->
      @if (filterRowTemplate) {
        @for (column of columns(); track column.field) {
          <ng-container [matColumnDef]="column.field + 'Filter'">
            <mat-header-cell
              *matHeaderCellDef
              class="dms-header-cell"
              [style.width.px]="column.width ?? DEFAULT_COLUMN_WIDTH"
            >
              <ng-container
                [ngTemplateOutlet]="filterRowTemplate"
                [ngTemplateOutletContext]="{ $implicit: column }"
              ></ng-container>
            </mat-header-cell>
          </ng-container>
        }
      }

      <!-- Filter Row -->
      @if (filterRowTemplate) {
        <mat-header-row
          *matHeaderRowDef="filterColumns(); sticky: true"
          class="dms-filter-row"
        ></mat-header-row>
      }

      <!-- Column Headers Row -->
      <mat-header-row
        *matHeaderRowDef="displayedColumns(); sticky: true"
        class="dms-column-header-row"
      ></mat-header-row>

      <!-- Body Rows -->
      <mat-row
        *matRowDef="let row; columns: displayedColumns()"
        class="dms-body-row"
        [class.selected]="selection.isSelected(row)"
        [class.expired]="isExpired$(row)"
        [ngClass]="gainLossClassMap$(row)"
        [attr.data-is-cef]="getIsCef$(row)"
        [attr.data-has-position]="getHasPosition$(row)"
        (click)="onRowClick(row)"
      ></mat-row>
    </mat-table>
  </cdk-virtual-scroll-viewport>
</div>

<!-- Default cell template -->
<ng-template #defaultCell let-row let-column="column">
  @switch (column.type) {
    @case ('currency') {
      {{ row[column.field] | currency }}
    }
    @case ('date') {
      {{ row[column.field] | date: 'shortDate' }}
    }
    @case ('number') {
      {{ row[column.field] | number }}
    }
    @default {
      {{ row[column.field] }}
    }
  }
</ng-template>
