<p-table
  [value]="positions()"
  class="min-w-full max-h-full min-h-full rounded-lg shadow-sm"
  [responsiveLayout]="'scroll'"
  size="small"
  [scrollable]="true"
  [scrollHeight]="'calc(100vh - 120px)'"
  showGridlines
>
  <ng-template pTemplate="header">
    <tr class="bg-gray-100">
      <th class="px-2 py-2">Symbol</th>
      <th class="px-2 py-2">Ex-Date</th>
      <th class="px-2 py-2">Buy</th>
      <th class="px-2 py-2">Buy Date</th>
      <th class="px-2 py-2">Quantity</th>
      <th class="px-2 py-2">Expected $$$ Yield</th>
      <th class="px-2 py-2">Sell</th>
      <th class="px-2 py-2">Sell Date</th>
      <th class="px-2 py-2">Days Held</th>
      <th class="px-2 py-2">Target Gain</th>
      <th class="px-2 py-2">Target Sell</th>
      <th class="px-2 py-2"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-row>
    <tr>
      <td class="px-2 py-1">{{ row.symbol }}</td>
      <td class="px-2 py-1">{{ row.exDate | date:'MM/dd/yyyy' }}</td>
      <td class="px-2 py-1">{{ row.buy | currency:'USD':'symbol':'1.2-4' }}</td>
      <td class="px-2 py-1">{{ row.buyDate | date:'MM/dd/yyyy' }}</td>
      <td class="px-2 py-1">{{ row.quantity }}</td>
      <td class="px-2 py-1">{{ row.expectedYield | currency:'USD':'symbol':'1.2-2' }}</td>
      <td class="px-2 py-1">{{ row.sell }}</td>
      <td class="px-2 py-1">{{ row.sellDate }}</td>
      <td class="px-2 py-1">{{ row.daysHeld }}</td>
      <td class="px-2 py-1">{{ row.targetGain }}</td>
      <td class="px-2 py-1">{{ row.targetSell }}</td>
      <td class="px-2 py-1">
        <p-button icon="pi pi-trash" severity="danger" (onClick)="trash(row)" />
      </td>
    </tr>
  </ng-template>
</p-table>
