:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
}

::ng-deep {
  input {
    padding: 2px;
    padding-left: 8px;
    padding-right: 4px;
    margin: 0;
    width: 100%;
  }
}
