.splitter-container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.splitter-panel {
  overflow: auto;
  height: 100%;
}

.left-panel {
  border-right: 1px solid var(--rms-border);
}

.splitter-handle {
  width: 8px;
  cursor: col-resize;
  background-color: var(--rms-surface);
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid var(--rms-border);
  border-right: 1px solid var(--rms-border);
  user-select: none;

  &:hover {
    background-color: var(--rms-primary-100);
  }
}

.handle-bar {
  width: 2px;
  height: 40px;
  background-color: var(--rms-border);
  border-radius: 1px;
}

.right-panel {
  flex: 1;
}
