<div class="splitter-container" #container>
  <div class="splitter-panel left-panel" [style.width.%]="currentLeftWidth$()">
    <ng-content select="[leftPanel]"></ng-content>
  </div>
  <div
    class="splitter-handle"
    cdkDrag
    cdkDragLockAxis="x"
    (cdkDragMoved)="onDragMove($event, container)"
  >
    <div class="handle-bar"></div>
  </div>
  <div class="splitter-panel right-panel" [style.width.%]="currentRightWidth$()">
    <ng-content select="[rightPanel]"></ng-content>
  </div>
</div>
