<p-toolbar class="text-lg font-semibold" aria-label="Global portfolio selection">
  <ng-template #start>
    <div class="whitespace-nowrap truncate">Global</div>
  </ng-template>
</p-toolbar>

<p-listbox
  [options]="globals"
  dataKey="id"
  [ngModel]="selectedId"
  (ngModelChange)="onSelect($event)"
  class="mt-0"
  ariaLabel="Global portfolio options"
>
  <ng-template pTemplate="item" let-global>
    <div class="group flex flex-row basis-full" [class.selected-global]="selectedId === global.id">
      <div class="flex-auto text-color hover:text-color-emphasis whitespace-nowrap truncate flex items-center">{{ global.name }}</div>
    </div>
  </ng-template>
</p-listbox>
